body {
  margin: 0;
  font-family: monospace;
  background: black;
  color: #00ffcc;
  text-align: center;
}

/* NAV */
nav {
  background: black;
  padding: 15px;
  border-bottom: 1px solid #00ffcc;
}

nav a {
  margin: 15px;
  color: #00ffcc;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

/* ANIMATION PAGE LOAD */
.container {
  padding: 50px;
  animation: slideIn 1s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* BUTTON */
button {
  padding: 10px 20px;
  background: black;
  color: #00ffcc;
  border: 1px solid #00ffcc;
  cursor: pointer;
}

/* INPUT */
input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #00ffcc;
  background: black;
  color: #00ffcc;
}
